oct22mule1/src/main/mule/oct22mule1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b7637517-684e-48af-afaa-b261ece67e08" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="oct22mule1Flow" doc:id="ef9c0398-be1f-49a1-9d1e-3564e47afb56" >
		<http:listener doc:name="Listener" doc:id="8eca249f-01a9-4e37-aa96-686dc161f76d" config-ref="HTTP_Listener_config" path="/oct22mule1"/>
		<set-payload value="This is Payload message logged by logger" doc:name="Set Payload" doc:id="2b676c03-3452-4bd7-ba05-772e9457c9f2" />
		<logger level="INFO" doc:name="Logger" doc:id="2cde993b-45ab-4765-b88f-14adfb14dc4a" message="#[message]"/>
	</flow>
</mule>
